@{
    ViewBag.Title = "Contacto";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Dirección: Los alamos 4123, Santiago</p>
<p>Telefono: +56 2 85463x</p>
<p>Correo electronico: contacto@dosalamos.com</p>

